{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],

  "printWidth": 120,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "requirePragma": false,
  "arrowParens": "always",
  "bracketSameLine": true,
  "endOfLine": "auto",

  "importOrder": [
    "^react(.*)",
    "^@tanstack/(.*)$",
    "^zustand(.*)",
    "^axios(.*)",
    "^msw(.*)",
    "^@/common/(.*)$",
    "^@/pages/(.*)$",
    "^@/shared/(.*)$",
    "^@/story/(.*)$",
    "^@/mock/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
